<div class="bg-[#f6f6f6] p-5 sm:p-10 lg:p-20" #studentResultContainer>
    <p class="font-bold text-2xl sm:text-3xl md:text-4xl text-[#343434]">{{ title }}</p>

    <div class="mt-10 bg-white rounded-lg shadow-md px-8 py-10">
        <p class="font-lato text-gray-500 text-xl sm:text-2xl">Filter Student Table By:</p>
        <form [formGroup]="form" (ngSubmit)="applyFilter()" class="pt-5 px-4">
            <div class="flex flex-wrap gap-6 justify-between items-end">

                <!-- Age Select -->
                <div class="relative flex-1 min-w-[250px] w-full sm:w-[250px]">
                    <label for="age"
                        class="absolute -top-2 left-3 bg-white px-1 text-gray-500 text-sm transition-all peer-focus:-top-4 peer-focus:text-xs peer-focus:text-blue-500">
                        Age
                    </label>
                    <select id="age" formControlName="age" (click)="fetchAges()"
                        class="peer w-full h-14 border border-gray-300 rounded-md px-3 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 bg-white">
                        <option *ngIf="isLoading" disabled>Loading...</option>
                        <option *ngFor="let age of ages" [value]="age.age">{{ age.age }}</option>
                    </select>
                </div>

                <!-- State Select -->
                <div class="relative flex-1 min-w-[250px] w-full sm:w-[250px]">
                    <label for="state"
                        class="absolute -top-2 left-3 bg-white px-1 text-gray-500 text-sm transition-all peer-focus:-top-4 peer-focus:text-xs peer-focus:text-blue-500">
                        State
                    </label>
                    <select id="state" formControlName="state" (click)="fetchStates()"
                        class="peer w-full h-14 border border-gray-300 rounded-md px-3 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 bg-white">
                        <option *ngIf="isLoading" disabled>Loading...</option>
                        <option *ngFor="let state of states" [value]="state.name">{{ state.name }}</option>
                    </select>
                </div>

                <!-- Level Select -->
                <div class="relative flex-1 min-w-[250px] w-full sm:w-[250px]">
                    <label for="level"
                        class="absolute -top-2 left-3 bg-white px-1 text-gray-500 text-sm transition-all peer-focus:-top-4 peer-focus:text-xs peer-focus:text-blue-500">
                        Level
                    </label>
                    <select id="level" formControlName="level" (click)="fetchLevels()"
                        class="peer w-full h-14 border border-gray-300 rounded-md px-3 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 bg-white">
                        <option *ngIf="isLoading" disabled>Loading...</option>
                        <option *ngFor="let level of levels" [value]="level.level">{{ level.level }}</option>
                    </select>
                </div>

                <!-- Gender Select -->
                <div class="relative flex-1 min-w-[250px] w-full sm:w-[250px]">
                    <label for="gender"
                        class="absolute -top-2 left-3 bg-white px-1 text-gray-500 text-sm transition-all peer-focus:-top-4 peer-focus:text-xs peer-focus:text-blue-500">
                        Gender
                    </label>
                    <select id="gender" formControlName="gender" (click)="fetchGender()"
                        class="peer w-full h-14 border border-gray-300 rounded-md px-3 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 bg-white">
                        <option *ngIf="isLoading" disabled>Loading...</option>
                        <option *ngFor="let gender of genders" [value]="gender.gender">{{ gender.gender }}</option>
                    </select>
                </div>

                <!-- Filter Button -->
                <div class="flex-1 min-w-[250px] w-full sm:w-[250px]">
                    <button type="submit"
                        class="w-full h-14 bg-[#46c35f] text-white rounded-md transition duration-200 flex items-center justify-center">
                        Search
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="bg-white mt-10 sm:mt-[5rem] p-6 shadow-lg rounded-lg">
        <div class="scrollable-table overflow-x-auto max-h-[500px]">
            <table *ngIf="filteredData.length > 0; else noData"
                class="min-w-full table-auto bg-white border-separate border-spacing-0">
                <thead>
                    <tr class="bg-[#f9f9fa] text-gray-500">
                        <th class="px-6 py-4 text-center border-b">S/N</th>
                        <th class="px-6 py-4 text-center border-b">Surname</th>
                        <th class="px-6 py-4 text-center border-b">First Name</th>
                        <th class="px-6 py-4 text-center border-b">Age</th>
                        <th class="px-6 py-4 text-center border-b">Gender</th>
                        <th class="px-6 py-4 text-center border-b">Level</th>
                        <th class="px-6 py-4 text-center border-b">State</th>
                        <th class="px-6 py-4 text-center border-b">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let student of filteredData; let i = index" class="border-b">
                        <td class="px-6 py-4 text-center text-gray-700 border-b">{{ (pageIndex * pageSize) + i + 1 }}
                        </td>
                        <td class="px-6 py-4 text-center text-gray-700 border-b">{{ student.surname }}</td>
                        <td class="px-6 py-4 text-center text-gray-700 border-b">{{ student.firstname }}</td>
                        <td class="px-6 py-4 text-center text-gray-700 border-b">{{ student.age }}</td>
                        <td class="px-6 py-4 text-center text-gray-700 border-b">{{ student.gender }}</td>
                        <td class="px-6 py-4 text-center text-gray-700 border-b">{{ student.level }}</td>
                        <td class="px-6 py-4 text-center text-gray-700 border-b">{{ student.state }}</td>
                        <td class="px-6 py-4 text-center border-b">
                            <button
                                class="px-6 py-4 bg-[#46c35f] text-white hover:bg-green-600 transition duration-200 ease-in-out"
                                (click)="downloadStudentResult(student)">
                                Download Result
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- No Data Message -->
            <ng-template #noData>
                <p class="text-center text-gray-500 mt-4">No student data available</p>
            </ng-template>
        </div>
    </div>
</div>